body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 20px;
  font-size:70px;
}

h2 {
  
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 body{
  font-family: "Nunito",sans-serif;
  background: #44576D;
}
 .input{
  text-align: center;
  margin: 100px auto;
}
 input[type="submit"]{
  padding: 15px 30px;
  background: #AAC7D8;
  border: none;
  border-radius: 50px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}
 .input input[type="text"]{
  width: 600px;
  height: 55px;
  padding: 5px 10px;
  color: red;
  background: #AAC7D8;
  border: none;
  border-radius: 50px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
}
 .card{
  width: 50%;
  background: #AAC7D8;
  height: 40vh;
  margin: 30px auto;
  border-radius: 50px;
}

.close{
  float: right;
  margin-top: -2px;
  cursor: pointer;
  margin-right: 20px;
}
 .card h1{
  padding: 5px 0;
  text-align: center;
}
 .card p{
  text-align: center;
  margin:40px 0;
  font-size:20px;
}

.findButton {
  padding: 15px 30px;
  background: #AAC7D8;
  border: none;
  border-radius: 1px;
  font-family: "Nunito",sans-serif;
  font-weight:bold;
  font-size: 20px;
  border-radius: 50px;

}
